{% extends 'baseCLogin.html' %}
{% block content %}

<form action="" method="post" style="font-family: lob;">
<button type="submit" class="btn btn-primary">Submit</button>
{% for label in shoppingCart %}
<div class="container">
    <div class="row justify-content-md-center">
        <!-- <div class="card" style="width: 100%;"> -->
        <div class="col col-lg-5">
                    <input name="shoppingCart" value="{{label}}"
                    class="form-check-input mt-0 checkbox-success" type="checkbox" style="width: 25px;height: 25px;">
                        <img class="card-img-top" src="{{label[4]}}" alt="Card image cap" style="width: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{label[1]}}</h5>
                        <p class="card-text">${{label[2]}}</p>
                    </div>
        </div><div class="col col-lg-5">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Expire date : {{label[3]}}</li>
                        <li class="list-group-item">industy : {{label[5]}}</li>
                        <li class="list-group-item">Address : {{label[6]}}</li>
                    </ul>
            </div>
        <!-- </div> -->
    </div>
</div>
</form>
<hr>

{% endfor %}
{% endblock %}