{% extends 'baseCLogin.html' %}
{% block content %}

<h1 class="display-1" style="font-family: lobster;">{{name}}'s Shop</h1>
<h5 class="display-6" style="font-family: khand;">>> Leave your message here !</h5>
<br>
<br>
<form method="post" style="font-family: khand;">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">😍YOUR title</label>
        <input name="fName" type="text" class="form-control" >
    </div>
    <label for="customRange2" class="form-label">💯SCORE (0~5)</label>
    <input name="score" type="range" class="form-range" min="0" max="5" id="customRange2">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">📝TEXT AREA</label>
        <textarea name="cMessage" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<br>
<hr>
<br>
<br>
<h1 class="display-6" style="font-family: khand;">>>COMMENTS</h1>
<table class="table" style="font-family: khand;">
    <thead>
        <tr>
            <th scope="col">TITLE</th>
            <th scope="col">SCORE</th>
            <th scope="col">MESSAGE</th>
        </tr>
    </thead>
    <tbody>
        {% for i in message%}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[1]}}</td>
        </tr>
        {% endfor%}
    </tbody>
</table>

<head>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<div id="container" style="width: 700px; height: 400px; margin: 0 auto"></div>
    <script language="JavaScript">
        google.charts.load('current', { packages: ['corechart'] });

        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['star', 'amount'],
                ['zero', {{ contain[0]| safe }}],
            ['⭐', {{ contain[1]| safe }}],
            ['⭐⭐', {{ contain[2]| safe }}],
            ['⭐⭐⭐', {{ contain[3]| safe }}],
            ['⭐⭐⭐⭐', {{ contain[4]| safe }}],
            ['⭐⭐⭐⭐⭐', {{ contain[5] | safe }}]
                ]);

        var options = { title: '' };

        // Instantiate and draw the chart.
        var chart = new google.visualization.BarChart(document.getElementById('container'));
        chart.draw(data, options);
            }
        google.charts.setOnLoadCallback(drawChart);
    </script>
{% endblock %}