{% extends 'baseILogin.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="/static/product.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="industyProduct.html" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="/static/upload.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Upload</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="industyUpload.html" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="/static/order.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Order</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="industyOrder.html" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="/static/forum.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Forum</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="industyForum.html" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="/static/chart.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chart</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="industyChart.html" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="/static/logout.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Logout</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="index.html" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}