{% extends 'base.html' %} {% block content %}

<div style="text-align: center">
    <img src="../static/saveFood.jpg" alt="saveFoaod.jpg" width="300px">
    <span class="display-3" style="font-size: 60px; font-family: Lobster; margin-left: 30px;"> Choose your Option</span>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <img src="..\static\customer.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" 
                    style="font-family: khand;font-weight: bold; font-size: 50px;text-align: center;">CUSTOMER</h5>
                    <div style="text-align: center">
                        <a href="customer_login.html" class="btn btn-primary"
                        style="margin: 0px 20px;font-family: Khand;">LOG IN</a>
                        <a href="customer_register.html" class="btn btn-success"
                        style="margin: 0px 20px;font-family: Khand;">REGISTER</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <img src="..\static\store.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"
                    style="font-family: khand;font-weight: bold;font-size: 50px;text-align: center;">INDUSTRY</h5>
                    <div style="text-align: center">
                        <a href="industy_login.html" class="btn btn-primary"
                        style="margin: 0px 20px;font-family: khand;">LOG IN</a>
                        <a href="industy_register.html" class="btn btn-success"
                        style="margin: 0px 20px;font-family: khand;">REGISTER</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}