{% extends 'baseILogin.html' %}

{% block content %}

<h1 class="display-4" style="font-family: khand;">>>COMMENTS</h1>
<table class="table" style="font-family: khand;">
    <thead>
        <tr>
            <th scope="col">TITLE</th>
            <th scope="col">SCORE</th>
            <th scope="col">MESSAGE</th>
        </tr>
    </thead>
    <tbody>
        {% for i in message%}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[1]}}</td>
        </tr>
        {% endfor%}
    </tbody>
</table>
{% endblock %}