{% extends 'baseForIndusty.html' %}

{% block content %}
<div id="titile">
    <h4><strong>SIGN up HERE</strong></h4>

</div>
<div id="form-container" action="#" method="post" onsubmit="return validation();">
    <form>
        <div>
            <input type="text" id="firstname" name="firstname" placeholder="First Name" autocomplete="off" />
            <input type="text" id="lastname" name="lastname" placeholder="Last Name" autocomplete="off" />
        </div>

        <div>
            <input type="text" id="email" name="email" placeholder="Email example@vybzgh.com" autocomplete="off" />
            <span id="erro"></span>
        </div>


        <div>
            <input type="password" id="password" name="password" placeholder="Password" autocomplete="off" />
            <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm password"
                autocomplete="off" />
        </div>
        <input type="submit" name="submit" id="submit" value="Signup" />
</div>
</form>
</div>
{% endblock %}