{% extends 'baseILogin.html' %}

{% block content %}


<form method="POST">
    <button type="submit" class="btn btn-danger">DELETE</button>
{% for label in result %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <input name="product" value="{{label}}" class="form-check-input mt-0" type="checkbox">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{label[4]}}</h5>
                    <p class="card-text">${{label[5]}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cunsumer : {{label[1]}}</li>
                    <li class="list-group-item">Violation : {{label[3]}}</li>
                </ul>
            </div>
            <br>
        </div>
    </div>
</div>
</form>
<br>
{% endfor %}
{% endblock %}