<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="font-family: khand;">
    <a class="navbar-brand" href="#" style="font-weight: bold;font-size: 24px">
        <img src="../static/favicon.ico"alt="" width="50" 
            class="d-inline-block align-text-center" >
    Save Food</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="font-size: 20px;">
            <a class="nav-item nav-link active" href="indexCustomer.html" tabindex="-1" aria-disabled="true">Home</a>
            <a class="nav-item nav-link active" href="customerAbout.html" tabindex="-1" aria-disabled="true">Personal about</a>
            <a class="nav-item nav-link active" href="customerCart.html" tabindex="-1" aria-disabled="true">Shopping cart</a>
            <a class="nav-item nav-link active" href="index.html" tabindex="-1" aria-disabled="true">Log out</a>
        </div>
    </div>
</nav>