<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: khand;">
    <a class="navbar-brand" href="index.html" style="font-weight: bold;font-size: 24px">
        <img src="../static/favicon.ico"alt="" width="50" 
            class="d-inline-block align-text-center" >
    Save Food</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="font-size: 20px;">
            <span class="nav-item nav-link" href="#" tabindex="-1" aria-disabled="true">Home</span>
            <span class="nav-item nav-link" href="#" tabindex="-1" aria-disabled="true">Personal about</span>
            <span class="nav-item nav-link" href="#" tabindex="-1" aria-disabled="true">Shopping cart</span>
            <span class="nav-item nav-link" href="#" tabindex="-1" aria-disabled="true">Log out</span>
        </div>
    </div>
</nav>