<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: khand;">
    <a class="navbar-brand" href="index.html" style="font-weight: bold;font-size: 24px">
        <img src="../static/favicon.ico"alt="" width="50" 
            class="d-inline-block align-text-center" >
    Save Food</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="font-size: 20px;">
            <a class="nav-item nav-link active" href="indexIndusty.html" tabindex="-1" aria-disabled="true">Home</a>
            <a class="nav-item nav-link active" href="industyProduct.html" tabindex="-1" aria-disabled="true">Product</a>
            <a class="nav-item nav-link active" href="industyUpload.html" tabindex="-1" aria-disabled="true">Upload</a>
            <a class="nav-item nav-link active" href="industyOrder.html" tabindex="-1" aria-disabled="true">Order</a>
            <a class="nav-item nav-link active" href="industyForum.html" tabindex="-1" aria-disabled="true">Forum</a>
            <a class="nav-item nav-link active" href="industyChart.html" tabindex="-1" aria-disabled="true">Chart</a>
            <a class="nav-item nav-link active" href="index.html" tabindex="-1" aria-disabled="true">Log out</a>
        </div>
    </div>
</nav>