<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Save Food</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="indexCustomer.html">Home <span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Personal about</a>
            <a class="nav-item nav-link" href="#">shopping cart</a>
            <a class="nav-item nav-link" href="index.html">Log out</a>
        </div>
    </div>
</nav>